@forge_signature
class {{name}}({% if inherit is not none %}
                {{inherit}}
                {% else %}sdRDM.DataModel{% endif %}):

                
    {% if docstring is not none %}"""{{ docstring }}"""{% endif %}
    
    id: Optional[str] = Field(
            description="Unique identifier of the given object.",
            default_factory=IDGenerator("{{name.lower()}}INDEX"),
            xml="@id"
    )
    
    {% for attribute in attributes -%}
    {{ attribute }}
    {% endfor -%}

    @validator("*", pre=True, always=True)
    def unit_validator(cls, v, values, config, field):
        if field.type_.__name__ == "UnitBase":
            if isinstance(v, str):
                return Unit(v)
            return v

        return v
    
    {% if repo is not none %}__repo__: Optional[str] = PrivateAttr(default="{{repo}}"){% endif %}
    {% if commit is not none %}__commit__: Optional[str] = PrivateAttr(default="{{commit}}"){% endif %}