{%- for import in package_imports -%}
{{import}}
{% endfor %}
 
from typing import Optional
from pydantic import PrivateAttr
{%- for import in from_imports %}
{{import}}
{%- endfor %}
 
{%- for import in local_imports %}
{{import}}
{%- endfor %}